*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin:0;
    font-family: 'Roboto', sans-serif;
    font-size:16px;
}

button {
    font-size:16px;
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6,p {
    margin:0;
}

/*GENERAL STARTS*/

.container {
    width:1160px;
    margin:0 auto;
}

.button {
    padding-top:16px;
    padding-bottom:16px;
    width:298px;
    border:none;
    border-radius:5px;
    color:white;
    font-weight: 500;
    line-height: 22.4px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    display:inline-block;

    cursor:pointer;
}

.button:hover {
    background: #E47209;
}

.button:active {
    background: #4B9200;

}

.button-rounded {
    border-radius: 25px;
}

/*GENERAL ENDS*/



/*HEADER STARTS*/

.header {
    width:100%;
    min-width:1600px;
    background-color:#000000;
    backdrop-filter: blur(2px);

    position: absolute;
    left:0;
    top:0;
}

.header__wrapper {
    width:100%;
    height: 80px;
    display:flex;
    align-items:center;
}

.header__logo {
    position:relative;
}

.header__logo-title {
    display:inline-block;
    width:82px;
    height:52px;
    padding:3.55px 4.75px;
    border:1px solid white;
    border-radius:2px;
    margin-right:63px;
    text-align:center;
    color:white;;
    font-weight: 400;
    font-size: 19px;
    line-height: 22.8px;
}

.header__logo-img {
    position: absolute;
    left: 10px;
    top: 22.5px; 
}

/*HEADER ENDS*/


/*NAVIGATION STARTS*/

.nav {
    display:flex;
    align-items: center;
    flex:1;
}

.nav__link {
    margin-right:58px;
    color:white;
    font-weight: 500;
    line-height: 22.4px;
    text-decoration: none;
    transition: all 0.2s ease;
    white-space: nowrap;
}

.nav__link:nth-child(5) {
    margin-right:438px;
}

.nav__link:last-child {
    margin-right:0;
}

.nav__link:hover {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight:600;
}

.active {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight:600;

    pointer-events: none;
}

/*NAVIGATION ENDS*/

/*FOOTER STARTS*/

.footer {
    min-width:1600px;
    width:100%;
    padding-top:40px;
    padding-bottom:50px;
    background-color: #111115;
}

.footer__section {
    width:298px;
    display:flex;
    flex-direction: column;
    color:white;
}

/*Footer section 1*/

.footer__wrapper {
    display:flex;
}

.margin {
    margin-bottom:68px;
}

.links__container {
    margin-top:44px;
    display:flex;
    flex-direction: column;
    gap:10px;
}

.link__item {
    color:white;
    line-height: 22.4px;
    text-decoration: none;
    display:flex;

    transition: color 0.2s ease;
}

.link__item:active {
    color:rgba(75, 146, 0, 1);
}

.link__item:active .link__img-block{
    background-color: #4B9200;
}

.link__img-block {
    margin-right:12px;
    width:26px;
    height:26px;
    border-radius:50%;
    background-color:rgba(196, 196, 196, 0.5);
    
    transition: background-color 0.2s ease;
}

.link__img {
    margin-left:50%;
    margin-top:50%;
    transform: translate(-50%,-50%);
}

.link__text {
    line-height: 25px;
}

/*Footer section 2*/

.footer__section:nth-child(2) {
    margin-left:100px;
    margin-right:32px;
    width:auto;
    justify-content: flex-end;
}

.footer__nav {
    flex:0 1 auto;
}

/*Footer section 3*/

.footer__section:last-child {
    flex:1;
    justify-content: space-between;
}

.footer__section-subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 28.8px;
    margin-bottom:14px;
}

.footer__form {
    display:flex;
    flex-direction: column;
}

.inputs__container {
    display:flex;
}

.form__input {
    width:228px;
    padding:10px 7px 10px 10px;
    margin-right:10px;

    border: double 0.7px transparent;
    border-radius:2px;
    background-image: linear-gradient(#111115,#111115),
    linear-gradient(113.96deg, #FA6F32 1.49%, #FE9013 101.44%);
    background-origin: border-box;
    background-clip: padding-box, border-box;

    color: #BDBDBD;
    line-height: 22.4px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size:16px;
}

.form__input:focus {
    outline:none;
    color:#BDBDBD;
    border-color:#4B9200;
}

.form__input:invalid {
    outline: none;
    border-color: #D31414;
    color: #D31414;
}

.form__input:not(:placeholder-shown):valid {
    outline:none;
    color:#BDBDBD;
    border-color:#4B9200;
}

.form__submit {
    padding:10px 39px;
    background: #F1F3F2;
    border: 1px solid #D31414;
    border-radius: 5px;
    color: #D31414;
    line-height: 22.4px;

    cursor:pointer;
}

.form__input:not(:placeholder-shown):valid + .form__submit {
    border-color: #333B41;
    color:black;
}

.form__input:not(:placeholder-shown):valid + .form__submit:active {
    border-color:#4B9200;
    color: #4B9200;
}

.footer__autor{
    width:230px;
    margin-left:auto;
    display:block;
}

.footer__autor:active p{
    color:rgba(75, 146, 0, 1);
    text-decoration: underline;
}

.autor__text {
    display:inline-block;
    font-weight:100;
    line-height: 20.8px;
    color: #FFFFFF;
    opacity:0.9;
}

.autor__text:first-child {
    margin-bottom:10px;
}
/*FOOTER ENDS*/










/*HEADER*/

.header-donate {
    position:static;
}

/*HEADER ENDS*/



/*INTRO*/

.intro {
    width:100%;
    min-width:1600px;
    height:385px;

    background-image: url("../../assets/images/panda_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*INTRO ENDS*/



/*DONATE*/

.donate {
    width:100%;
    min-width:1600px;

    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%,
    #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), 
    linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%,
    rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%,
    #EAF7FE 127.9%, #EAF7FE 149.54%),
    linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%,
    rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%,
    #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.donate__wrapper {
    padding-top:40px;
    padding-bottom:180px;
}

.donate__advertisement {
    margin-bottom:10px;
    font-size:36px;
    font-weight: 400;
    line-height: 46.8px;
    color:white;
    text-transform: uppercase;
}

.donate__subtext {
    margin-bottom:40px;

    line-height: 22.4px;
    color:white;
    text-align: left;
}

.bold {
    font-weight: 500;
}

.donate__info {
    margin-bottom:60px;
    font-size: 36px;
    line-height: 54px;
    color: #FE9013;
    font-weight: 400;
}

.donate__container {
    padding:40px 92px 62px 92px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.52);
    backdrop-filter: blur(2px);
    text-align: center;
    display:flex;
    flex-direction: column;
}

/*DONATE ENDS*/



/*Donate form*/

.donate__container-title {
    margin-bottom:20px;
    font-weight: 400;
    font-size: 48px;
    line-height: 57.6px;
    color: #FE9013;
}

.donate__container-text {
    margin-bottom:60px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28.8px;
    text-align: left;
    color: #333B41;
}

.visual__container {
    margin-bottom:87px;
    display:flex;
}

.number__container {
    margin-top:105px;
    margin-left:215px;
    display:flex;
    flex-direction: column;

    position: relative;
}

.number__container::after {
    display:block;
    content:"";
    width:14px;
    height: 14px;
    background: url("../../assets/icons/x_icon.svg");
    background-position: center;
    background-size: cover;

    position:absolute;
    right: -25px;
    top: 24px;
}

.number {
    margin-bottom:11px;
    font-weight: 500;
    font-size:72px;
    line-height: 57.6px;
    text-align:center;
}

.number__text {
    font-weight: 400;
    text-align:center;
    line-height: 22.4px;
}

.animal {
    margin-left:89px;
}

.radio__container {
    background: #404950;
    border-radius: 2px;
    height:27px;
    display:flex;
    justify-content: space-between;
    padding:8px 15px;
    position: relative;
    z-index: 1;
}

.radio__container::after {
    content:"";
    display:block;
    height:2px;
    width:915px;
    background-color: #72828E;

    position:absolute;
    z-index: 2;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.radio__item {
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
}

.radio {
    transform: translate(-0.6px, 8.8px);

    appearance: none;
    width:10px;
    height: 10px;
    background: #FFEE2E;
    border-radius: 50%;
    transition:all 0.2s ease;

    cursor:pointer;
    position:relative;
    z-index: 3;
}

.radio::after {
    content: "";
    display:block;
    width:23px;
    height:23px;
    border:1px solid  transparent;
    border-radius: 50%;

    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    transition:all 0.2s ease;
}

.radio:checked::after {
    border:1px solid  #FE9013;
}

.radio__label {
    display:block;
    width:40px;
    height: 40px;
    border:1px solid  transparent;
    border-radius: 50%;
    padding-right:0.5px;
    cursor:pointer;

    transition:all 0.2s ease;
}

.radio__label:has(.radio:checked) {
    border:1px solid  #FE9013;
}

.radio__value {
    font-weight: 500;
    font-size: 26px;
    line-height: 36.4px;
    color: #333B41;
    position:absolute;
    bottom: -56px;
    left: 0px;
    transition:all 0.2s ease;
}

.radio__value::before {
    content: "";
    display:block;
    width:10px;
    height:20px;
    background: url("../../assets/icons/dollarBlack.svg");
    background-position: center;
    background-size: cover;
    position:absolute;
    left:-12px;
    top:8px;
    transition:all 0.2s ease;
}

.radio:checked + .radio__value {
    color:#FE9013;
}

.radio:checked + .radio__value::before {
    background: url("../../assets/icons/dollarOrange.svg");
}



.donate__input-block {
    margin-top:98px;
    margin-bottom:25px;
    position: relative;
    display:inline-block;
}

.donate__input {
    display:inline-block;
    width:268px;
    height:54px;
    padding:16px 143px 16px 9px;
    border: 1px solid #929699;
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
    font-size:16px;
    color: #929699;
    background-color: transparent;
}

.donate__input:focus {
    outline:none;
    color:#4B9200;
    border-color:#4B9200;
}

.donate__input:not(:placeholder-shown):valid {
    outline:none;
    color:#4B9200;
    border-color:#4B9200;
}

.donate__input:invalid {
    border: 1px solid #D31414;
    color: #D31414;
}

.donate__input::-webkit-outer-spin-button,
.donate__input::-webkit-inner-spin-button {
    appearance: none;
}

.donate__input-icon {
    width:10px;
    height:20px;
    background: url("../../assets/icons/dollarGrey.svg");
    background-position: center;
    background-size: cover;
    position:absolute;
    right:10px;
    top:17px;
    transition:all 0.2s ease;
}

.donate__input:focus + .donate__input-icon {
    background: url("../../assets/icons/dollarGreen.svg");
}

.donate__input:not(:placeholder-shown):valid + .donate__input-icon {
    background: url("../../assets/icons/dollarGreen.svg");
}

.donate__input:invalid + .donate__input-icon {
    background: url("../../assets/icons/dollarRed.svg");
}

.radio__container-count {
    display:flex;
    justify-content: center;
    margin-bottom:29px;
}

.label__container {
    width:240px;
    display:flex;
}

.radio__label-count {
    margin-left:10px;
}

.radio-count {
    margin:0;
    width:16px;
    height:16px;
    border: 1px solid #FE9013;
    border-radius: 50%;
    transform: translateY(2px);
    appearance: none;
    position:relative;
    transition: all 0.2s ease;
}

.radio-count:checked {
    background: #4B9200;
    border: 1px solid #4B9200;
}

.margin-radio {
    margin-left:50px;
}

.radio__value-count {
    margin-left:9px;
    color: #333B41;
    line-height: 22.4px;
    display:inline-block;

}

.form__subtitle {
    margin-top:30px;
    text-align: center;
    line-height: 22.4px;
    color: #333B41;
}

/*DONATE FORM ENDS*/





