*, *::after, *::before {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    margin:0;
    font-family: 'Roboto', sans-serif;
    font-size:16px;
}

button {
    font-size:16px;
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6,p {
    margin:0;
}

/*GENERAL STARTS*/

.container {
    max-width:1160px;
    margin:0 auto;
}

.button {
    padding-top:16px;
    padding-bottom:16px;
    width:298px;
    border:none;
    border-radius:5px;
    color:white;
    font-weight: 500;
    line-height: 22.4px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    background: -o-linear-gradient(336.04deg, #F9804B 1.49%, #FE9013 101.44%);
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    display:inline-block;

    cursor:pointer;
}

.button:hover {
    background: #E47209;
}

.button:active {
    background: #4B9200;

}

.button-rounded {
    border-radius: 25px;
}

/*GENERAL ENDS*/



/*HEADER STARTS*/

.header {
    width:100%;
    min-width:1600px;
    background-color:#000000;
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);

    position: absolute;
    left:0;
    top:0;
}

.header__wrapper {
    width:100%;
    height: 80px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
}

.header__logo {
    position:relative;
}

.header__logo-title {
    display:inline-block;
    width:82px;
    height:52px;
    padding:3.55px 4.75px;
    border:1px solid white;
    border-radius:2px;
    margin-right:63px;
    text-align:center;
    color:white;;
    font-weight: 400;
    font-size: 19px;
    line-height: 22.8px;
}

.header__logo-img {
    position: absolute;
    left: 10px;
    top: 22.5px; 
}

/*HEADER ENDS*/


/*NAVIGATION STARTS*/

.nav {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
}

.nav__link {
    margin-right:58px;
    color:white;
    font-weight: 500;
    line-height: 22.4px;
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    white-space: nowrap;
}

.nav__link:nth-child(6) {
    margin-left:auto;
}

.nav__link:last-child {
    margin-right:0;
}

.nav__link:hover {
    background: -o-linear-gradient(336.04deg, #F9804B 1.49%, #FE9013 101.44%);
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight:600;
}

.active {
    background: -o-linear-gradient(336.04deg, #F9804B 1.49%, #FE9013 101.44%);
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight:600;

    pointer-events: none;
}

/*NAVIGATION ENDS*/

/*MENU STARTS*/

.menu {
    display:none;
    margin-left:auto;
    
}

.menu__img {
    margin-bottom:2px;
}

/*MENU ENDS*/

/*FOOTER STARTS*/

.footer {
    min-width:1600px;
    width:100%;
    padding-top:40px;
    padding-bottom:50px;
    background-color: #111115;
}

.footer__section {
    width:298px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color:white;
}

/*Footer section 1*/

.footer__wrapper {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
}

.margin {
    margin-bottom:68px;
}

.links__container {
    margin-top:44px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap:10px;
}

.link__item {
    color:white;
    line-height: 22.4px;
    text-decoration: none;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;

    -webkit-transition: color 0.2s ease;

    -o-transition: color 0.2s ease;

    transition: color 0.2s ease;
}

.link__item:active {
    color:rgba(75, 146, 0, 1);
}

.link__item:active .link__img-block{
    background-color: #4B9200;
}

.link__img-block {
    margin-right:12px;
    width:26px;
    height:26px;
    border-radius:50%;
    background-color:rgba(196, 196, 196, 0.5);
    
    -webkit-transition: background-color 0.2s ease;
    
    -o-transition: background-color 0.2s ease;
    
    transition: background-color 0.2s ease;
}

.link__img {
    margin-left:50%;
    margin-top:50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}

.link__text {
    line-height: 25px;
}

/*Footer section 2*/

.footer__section:nth-child(2) {
    margin-left:100px;
    margin-right:32px;
    width:auto;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.footer__nav {
    -webkit-box-flex:0;
        -ms-flex:0 1 auto;
            flex:0 1 auto;
}

/*Footer section 3*/

.footer__section:last-child {
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.footer__section-subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 28.8px;
    margin-bottom:14px;
}

.footer__form {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.inputs__container {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
}

.form__input {
    width:228px;
    padding:10px 7px 10px 10px;
    margin-right:10px;

    border: double 0.7px transparent;
    border-radius:2px;
    background-image: -o-linear-gradient(#111115,#111115),
    -o-linear-gradient(336.04deg, #FA6F32 1.49%, #FE9013 101.44%);
    background-image: linear-gradient(#111115,#111115),
    linear-gradient(113.96deg, #FA6F32 1.49%, #FE9013 101.44%);
    background-origin: border-box;
    background-clip: padding-box, border-box;

    color: #BDBDBD;
    line-height: 22.4px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size:16px;
}

.form__input:focus {
    outline:none;
    color:#BDBDBD;
    border-color:#4B9200;
}

.form__input:invalid {
    outline: none;
    border-color: #D31414;
    color: #D31414;
}

.form__input:not(:-moz-placeholder-shown):valid {
    outline:none;
    color:#BDBDBD;
    border-color:#4B9200;
}

.form__input:not(:-ms-input-placeholder):valid {
    outline:none;
    color:#BDBDBD;
    border-color:#4B9200;
}

.form__input:not(:placeholder-shown):valid {
    outline:none;
    color:#BDBDBD;
    border-color:#4B9200;
}

.form__submit {
    padding:10px 39px;
    background: #F1F3F2;
    border: 1px solid #D31414;
    border-radius: 5px;
    color: #D31414;
    line-height: 22.4px;

    cursor:pointer;
}

.form__input:not(:-moz-placeholder-shown):valid + .form__submit {
    border-color: #333B41;
    color:black;
}

.form__input:not(:-ms-input-placeholder):valid + .form__submit {
    border-color: #333B41;
    color:black;
}

.form__input:not(:placeholder-shown):valid + .form__submit {
    border-color: #333B41;
    color:black;
}

.form__input:not(:-moz-placeholder-shown):valid + .form__submit:active {
    border-color:#4B9200;
    color: #4B9200;
}

.form__input:not(:-ms-input-placeholder):valid + .form__submit:active {
    border-color:#4B9200;
    color: #4B9200;
}

.form__input:not(:placeholder-shown):valid + .form__submit:active {
    border-color:#4B9200;
    color: #4B9200;
}

.footer__autor{
    width:230px;
    margin-left:auto;
    display:block;
    -webkit-box-sizing: initial;
    box-sizing: initial;
}

.footer__autor:active p{
    color:rgba(75, 146, 0, 1);
    text-decoration: underline;
}

.autor__text {
    display:inline-block;
    font-weight:100;
    line-height: 20.8px;
    color: #FFFFFF;
    opacity:0.9;
    -webkit-box-sizing: initial;
    box-sizing: initial;
}

.autor__text:first-child {
    margin-bottom:10px;
}
/*FOOTER ENDS*/



/*Media Queries*/
@media screen and (max-width: 1599px) {

    /*Header*/
    .container {
        max-width:940px;
    }

    .header {
        min-width:1000px;
        z-index: 2;
    }

    .nav__link {
        margin-right:48px; 
    }

    .nav__link:nth-child(5) {
        margin-right:259px;
    }

    /*FOOTER*/

.footer {
    min-width:1000px;
    padding-top:41px;
}

.footer__wrapper {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
}

/*Footer section 1*/

.margin {
    margin-bottom:68px;
}

/*Footer section 2*/

.footer__section:nth-child(2) {
    width:auto;
    align-self:flex-end;
    margin-left:0;
    margin-right:0;
}

.footer__nav {
    gap:48px;
}

.footer__nav .nav__link {
    margin:0;
}

/*Footer section 3*/

.footer__section:last-child {
    margin-left: -89px;
}

.footer__section-subtitle {
    margin-bottom:11px;
}
}


/*MEDIA -999*/
@media screen and (max-width: 999px) {

    /*GENERAL*/
    .container {
        max-width:600px;
    }

    /*HEADER*/
.header {
    min-width:640px;
    position:sticky;
    z-index: 5000;
    top:0;
    left:0;
}

.header__wrapper {
    height: 34px;
}

.header .header__logo-title {
    display:inline-block;
    width:47px;
    height:29px;
    margin-right:0;
    padding:0;
    border:none;
    font-size: 12px;
    line-height: 120%;
}

.header .header__logo-img {
    position: absolute;
    width:6.5px;
    height:15.5px;
    left: 5px;
    top: 13px; 
}

/*NAVIGATION*/
.header .nav {
    display:none;
}  

.menu {
    display:block;
}

/*FOOTER STARTS*/
.footer {
    min-width:640px;
    padding-top:12px;
    padding-bottom:12px;
}

.footer__wrapper {
    flex-direction: column;
    justify-content: flex-start;
    position:relative;
}

/*Footer section 1*/
.margin {
    margin-bottom:32px;
}

.links__container {
    margin-top:0;
    position:absolute;
    right:0;
    top:0;
    gap:20px;
}

.link__img-block {
    margin-right:0;
}

.link__text {
    display:none;
}

/*Footer section 2*/
.footer__section:nth-child(2) {
    margin-left:0;
    margin-right:auto;
    margin-top:97px;
    margin-bottom:-53.5px;;
    width:auto;
}

.footer__nav {
    gap:36px;
}

/*Footer section 3*/
.footer__section:last-child {
    display:block;
    margin-left:auto;
}

.footer__form {
    display:none;
}
}


@media screen and (max-width: 639px) {
     /*GENERAL*/
     .container {
        max-width:300px;
    }

    /*HEADER*/
.header {
    min-width:320px;
}

/*FOOTER STARTS*/
.footer {
    min-width:320px;
    padding-top:20px;
    padding-bottom:20px;
}

.footer__wrapper {
    flex-direction: column;
    justify-content: center;
    position:relative;
}

/*Footer section 1*/
.footer__section:first-child {
    align-items: center;
}

.footer .header__logo-title {
    margin:0;
    padding:0;
    width:auto;
    height:auto;
    border:none;
}

.footer .header__logo-img {
    top:-4px;
    left:72px;
}

.margin {
    margin-bottom:30px;
}

.footer .button {
    order:3;
}

.links__container {
    margin-bottom:30px;
    position:static;
    gap:30px;
    flex-direction: row;
}

.link__img-block {
    margin-right:0;
}

.link__text {
    display:none;
}

/*Footer section 2*/
.footer__section:nth-child(2) {
    order:3;
    margin:0;
    width:auto;
    align-self:center;
}

.footer__nav {
    gap:30px;
}

/*Footer section 3*/
.footer__section:last-child {
    display:block;
    margin-left:auto;
    margin-top:30px;
    margin-bottom: 27px;
}

.footer__autor {
    font-size:15px;
}
}