*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin:0;
    font-family: 'Roboto', sans-serif;
    font-size:16px;
}

h1,h2,h3,h4,h5,h6,p {
    margin:0;
}

/*GENERAL STARTS*/

.container {
    width:1160px;
    margin:0 auto;
}

.button {
    padding-top:16px;
    padding-bottom:16px;
    width:298px;
    color:white;
    font-weight: 500;
    line-height: 22.4px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

.button:hover {
    background: #E47209;
}

.button:active {
    background: #4B9200;

}

.button-rounded {
    border-radius: 25px;
}

/*GENERAL ENDS*/



/*HEADER STARTS*/

.header {
    width:100%;
    min-width:1600px;
    background-color:#000000;
    backdrop-filter: blur(2px);

    position: absolute;
    left:0;
    top:0;
}

.header__wrapper {
    width:100%;
    height: 80px;
    display:flex;
    align-items:center;
}

.header__logo {
    position:relative;
}

.header__logo-title {
    display:inline-block;
    width:82px;
    height:52px;
    padding:3.55px 4.75px;
    border:1px solid white;
    border-radius:2px;
    margin-right:63px;
    text-align:center;
    color:white;;
    font-weight: 400;
    font-size: 19px;
    line-height: 22.8px;
}

.header__logo-img {
    position: absolute;
    left: 10px;
    top: 22.5px; 
}

/*HEADER ENDS*/


/*NAVIGATION STARTS*/

.nav {
    display:flex;
    align-items: center;
    flex:1;
}

.nav__link {
    margin-right:58px;
    color:white;
    font-weight: 500;
    line-height: 22.4px;
    text-decoration: none;
    transition: all 0.2s ease;
    white-space: nowrap;
}

.nav__link:nth-child(5) {
    margin-right:438px;
}

.nav__link:last-child {
    margin-right:0;
}

.nav__link:hover {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight:600;
}

.active {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight:600;

    pointer-events: none;
}

/*NAVIGATION ENDS*/


/*INTRO STARTS*/

.intro {
    width:100%;
    min-width:1600px;
    height:780px;
    padding-top:166px;
    background-image: url("../../assets/images/pandaBack.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.intro__wrapper {
    width:500px;
    margin-left:auto;
    display:flex;
    flex-direction:column;
    align-items: center;

    position:relative;
}

.intro__title {
    margin-bottom:60px;
    text-align: center;
    color:white;
    font-weight: 700;
    font-size: 106.5px;
    line-height: 75%;
    text-transform: uppercase;

    position:relative;
    z-index: 1;
}

.word-yellow {
    color:rgba(255, 238, 46, 1);
}

.intro__img {
    width:465px;
    height:465px;
    border-radius:50%;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);

    position: absolute;
    top:-74px;
    left:-73px;
}

/*INTRO ENDS*/



/*ABOUT STARTS*/

.about {
    width:100%;
    min-width:1600px;
    position:relative;
}

.about__wrapper {
    margin-top:140px;
    display:flex;
}

.about__img {

}

.about__img img{
    width:609px;
    height:403px;
    display: block;
}

.about__description {
    margin-left:87px;
}

.about__title {
    margin-bottom:20px;
    color: #333B41;
    font-weight: 400;
    font-size:48px;
    line-height: 57.6px;
}

.about__subtitle {
    margin-top:54px;
    margin-bottom:37px;
    color: #333B41;
    font-weight: 400;
    font-size:24px;
    line-height: 28.8px;
}

.about__paragraph {
    color: #333B41;
    font-weight: 400;
    line-height: 20.8px;
}

.about__side-image {
    position: absolute;
    top:-114px;
    right:0;
}

/*ABOUT ENDS*/