/*INTRO STARTS*/

.intro {
    width:100%;
    min-width:1600px;
    height:780px;
    padding-top:166px;
    background-image: url("../../assets/images/pandaBack.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.intro__wrapper {
    width:500px;
    margin-left:auto;
    display:flex;
    flex-direction:column;
    align-items: center;

    position:relative;
}

.intro__title {
    margin-bottom:60px;
    text-align: center;
    color:white;
    font-weight: 700;
    font-size: 106.5px;
    line-height: 75%;
    text-transform: uppercase;

    position:relative;
    z-index: 1;
}

.word-yellow {
    color:rgba(255, 238, 46, 1);
}

.intro__img {
    width:465px;
    height:465px;
    border-radius:50%;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);

    position: absolute;
    top:-74px;
    left:-73px;
}

/*INTRO ENDS*/



/*ABOUT STARTS*/

.about {
    width:100%;
    min-width:1600px;
    position:relative;
}

.about__wrapper {
    margin-top:140px;
    margin-bottom:180px;
    display:flex;
}

.about__img {

}

.about__img img{
    width:609px;
    height:403px;
    display: block;
}

.about__description {
    margin-left:87px;
}

.about__title {
    margin-bottom:20px;
    color: #333B41;
    font-weight: 400;
    font-size:48px;
    line-height: 57.6px;
}

.about__subtitle {
    margin-top:54px;
    margin-bottom:34px;
    color: #333B41;
    font-weight: 400;
    font-size:24px;
    line-height: 28.8px;
}

.about__paragraph {
    color: #333B41;
    font-weight: 400;
    line-height: 22px;
}

.about__side-image {
    position: absolute;
    top:-128px;
    right:0;
}

/*ABOUT ENDS*/


/*PETS STARTS*/

.pets {
    width:100%;
    min-width:1600px;
    position: relative;
}

.pets__wrapper {
    text-align: center;
    padding-bottom:100px;
}

.slider__container {
    position:relative;
    margin-bottom:80px;
}

.slider__button {
    width:62px;
    height: 62px;
    border:none;
    border-radius:50%;
    color:white;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);

    position:absolute;
    top:50%;
    transform: translateY(-50%);
    cursor:pointer;
}

.slider__button:hover {
    background: #E47209;
}

.slider__button:active {
    background: #4B9200;
}

.slider__button-left {
    left: -82px;
}

.slider__button-right {
    right: -82px;
}

.slider__row {
    display:flex;
    justify-content: space-between;
}

.slider__row:first-of-type {
    margin-bottom:20px;
}

.slider__item {
    width:366px;
    text-align: left;
    border-radius: 5px;
    position:relative;
    overflow:hidden;

    border: double 1px transparent;
    background-image: linear-gradient(white, white),
    linear-gradient(113.96deg, #FA6F32 1.49%, #FE9013 101.44%);
    background-origin: border-box;
    background-clip: content-box, border-box;


}

.darkest-block {
    width:366px;
    height:366px;
    background-color:black;
    opacity:0;
    position:absolute;
    top:0;
    z-index:500;

    transition: opacity 0.3s ease;
}

.slider__item:hover .darkest-block {
    opacity:0.3;
}

.slider__item:hover .item__img {
    transform:scale(1.054,1.054);
}

.slider__item:hover .item__info {
    transform: translateY(0px);
}

.item__img {
    width:366px;
    height:366px;
    object-fit: cover;
    display:block;
    border-radius: 5px;
    

    transition:transform 0.3s ease;
}

.slider__row:first-of-type .item__img {
    position:relative;
    z-index:2;
}

.item__info {
    width:366px;
    padding:8px 12px 14px 16px;
    position:absolute;
    left:0;
    bottom:0;
    z-index:1000;
    background-color: white;

    transform: translateY(68px);
    transition: transform 0.3s ease;
}
.item__title {
    font-weight: 500;
    line-height: 17.4px;
    font-size:16px;
    text-transform: uppercase;
}


.item__info {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
}

.item__icon {
    position:absolute;
    bottom: 13px;
    right:12px;
}

.pets__side-image-left {
    position: absolute;
    left:0;
    bottom:0;
}

.pets__side-image-right {
    position: absolute;
    right:0;
    bottom:0;
}

/*PETS ENDS*/


/*INSTRUCTION STARTS*/

.instruction {
    width:100%;
    min-width:1600px;
    padding-top:69px;
    padding-bottom:100px;

    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%,
    #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%),
    linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%,
    rgba(243, 169, 248, 0.66) 50.74%,
    #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), 
    linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%,
    rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
}

.instruction__wrapper {
    padding-top:41px;
    padding-bottom:59px;
    border-radius: 20px;
    background: rgba(253, 253, 255, 0.52);
    text-align: center;
}

.instruction__title {
    margin-bottom:30px;
    font-size: 48px;
    line-height: 57.6px;
    font-weight: 400;
    color:#FE9013;
    text-align: center;
}

.instruction__container {
    margin-left:99px;
}

.instruction__subtitle {
    margin-bottom:40px;
    font-size: 24px;
    line-height: 28.8px;
    font-weight: 400;
    color:#333B41;
    text-align:left;
}

.instruction_p {
    margin-bottom:10px;
    line-height: 20.8px;
    font-weight: 400;
    color: #333B41;
    text-align:left;
}

.instruction__link {
    border-bottom:1px solid  #FE9013;
    color: #333B41;
    text-decoration:none;
}

/*INSTRUCTION ENDS*/



/*CARDS START*/

.cards__title {
    margin-top:60px;
    margin-bottom:40px;
    font-size: 36px;
    font-weight: 400;
    line-height: 46.8px;
    text-align: center;

    color: #333B41;
}

.cards__wrapper {
    width:764px;
    margin:0 auto;
    margin-bottom:60px;
    display:flex;
    justify-content: space-between;
}

.card {
    width:168px;
    position:relative;
}

.card:not(:last-child)::after {
    content:"";
    width:70px;
    height:36px;
    background-image: url("../../assets/icons/cardArrow.svg");
    background-repeat:no-repeat;
    background-size: cover;
    position:absolute;
    right:-100px;
    top: 62px;
}

.card__item {
    width:168px;
    height:168px;
    border: 1px solid #FE9013;
    border-radius:5px;
    background-color:white;
    display:flex;
    justify-content: center;
    align-items: center;
}

.card__title {
    margin-top:30px;
    line-height: 22.4px;
    color: #333B41;
    text-align:left;
}
/*CARDS END*/



/*TESTIMONIALS STARTS*/

.testimonials {
    min-width:1600px;
    position:relative;
    overflow: hidden;
}

.testimonials__wrapper {
    margin-top:140px;
    padding-bottom:180px;
}

.testimonials__title {
    margin-bottom:47px;
    font-weight: 400;
    font-size:36px;
    line-height: 46.8px;
    text-align:center;

    color: #333B41;
}

.testimonials__progress {
    margin-bottom:31px;
    margin-left:auto;
    margin-right:auto;
    width:600px;
    height:8px;

    border: double 1px transparent;
    border-radius:5px;
    background-image: linear-gradient(rgba(241, 243, 242, 1),rgba(241, 243, 242, 1)),
    linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%,
    rgba(243, 169, 248, 0.66) 50.74%,
    #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
    linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%,
    rgba(243, 169, 248, 0.66) 50.74%,
    #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    background-origin: border-box;
    background-clip: padding-box, border-box;

}

.testimonials__progress-slide {
    width:115px;
    height:6px;
    background: rgba(254, 144, 19, 1);
    border-radius:5px;
    cursor:pointer;
}

.testimonials__progress-slide:hover {
    background: #E47209;
}

.testimonials__side-img {
    position: absolute;
    right:0;
    bottom:-130px;
}

/*TESTIMONIALS ENDS*/



/*TESTIMONIALS-CARD STARTS*/

.testimonials__card {
    width:268px;
    padding:15px 15px 19px 16px;

    background-color: #F1F3F2;
    border: double 2px transparent;
    background-image: linear-gradient(rgba(241, 243, 242, 1),rgba(241, 243, 242, 1)),
    linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%,
    rgba(243, 169, 248, 0.66) 50.74%,
    #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
    linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%,
    rgba(243, 169, 248, 0.66) 50.74%,
    #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-radius:20px;
}

.testimonials__container {
    display:flex;
    justify-content: space-between;
    margin-bottom:21px;
}

.person__item {
    display:flex;
    margin-bottom:10px;
}

.person__img {
    margin-right:10px;
}

.person__name {
    margin-bottom:1px;
    font-weight: 500;
    line-height: 19.2px;
}

.person__details {
    display:inline-block;
    font-weight: 300;
    font-size:15px;
    line-height: 18px;
    color: #BDBDBD;
}

.person__details-adrs {
    margin-right:16px;
}

.person__text {
    height:309px;
    overflow: hidden; 
    color:gray;
    font-weight: 300;
    font-size:15px;
    line-height: 18px;
}

/*TESTIMONIALS-CARD ENDS*/

